body {
  text-align: center;
  margin: 0;
}

input {
  min-width: 250px;
  margin-top: 50px;

  border: 2px solid #808080;
  border-radius: 4px;

  outline: none;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #212121;

  &:hover,
  &:focus {
    border-color: #2196f3;
  }
}

.inputDisabled {
  opacity: 0.5;

  &:hover,
  &:focus {
    border-color: #808080;
  }
}

button {
  padding: 2px 12px;

  border: 2px solid #afb1b8;
  border-radius: 4px;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #afb1b8;

  &:hover,
  &:focus {
    outline: none;
  }
}

.isActive {
  border-color: #212121;
  color: #212121;

  &:hover,
  &:focus {
    background-color: #d3d6df;
  }
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 53px;
  }
}

.value {
  margin-left: auto;
  margin-right: auto;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #212121;
}

.label {
  text-transform: uppercase;
  color: #212121;
}

/* Стили для iziToast*/
.iziToast-body {
  margin-left: 10px !important;
  padding: 10px 0 10px 65px !important;
}

.fa-circle-xmark {
  font-size: 55px !important;
}

.iziToast {
  border-radius: 5px !important;
}
